:root {
  --os-ink: #21243d !important;
  --os-ink-light: #6e718b !important;
  --os-blue: #e75e37 !important;
  --os-sky: #dcdee9 !important;
  --os-white: #fff !important;
  --os-sales-badge-color: #2c3438 !important;
  --os-border-color: #e0e0e0 !important;
  --os-border-radius: 2px !important;
  --os-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2) !important;
}
button,
a,
select {
  cursor: pointer;
}
a,
a:link,
a:visited {
  text-decoration: none;
}
ul {
  list-style: none;
}
a img {
  border: none;
}

img {
  max-width: 100%;
  letter-spacing: normal;
}
.header-navbar {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #fff;
  padding: 25px 30px;
  text-align: center;
  margin-bottom: 30px;
}
.display-block {
  float: left;
  width: 100%;
}
.header-navbar .logo {
  position: absolute;
  top: 20px;
  left: 30px;
}
.header-navbar .logo a {
  display: inline-block;
  max-width: 90px;
}
.header-navbar .logo a img {
  width: 100%;
}
.header-navbar .discoverMenu {
  display: inline-block;
}
.header-navbar .discoverMenu ul {
  float: left;
}
.header-navbar .discoverMenu ul li {
  position: relative;
  float: left;
  font-size: 15px;
  padding: 0 20px;
  display: flex;
  align-items: center;
}
.header-navbar .discoverMenu ul li a {
  display: inline-block;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  padding: 12px 0 15px 0;
}
.header-navbar .discoverMenu ul li.last label {
  position: absolute;
  right: 10px;
  top: -8px;
}
.header-navbar .discoverMenu li ul {
  display: none;
  position: absolute;
  left: 0;
  top: 45px;
  background: #fff;
  min-width: 215px;
  z-index: 999999;
  padding: 65px 30px 25px 30px;
  margin: 0;
  text-align: left;
  border: 5px solid #f4f4f4;
  border-radius: 25px;
}
.header-navbar .discoverMenu li ul li {
  padding: 4px 0;
  width: 100%;
  font-size: 14px;
}
.header-navbar .discoverMenu ul li:hover .child {
  display: block;
}
.header-navbar .discoverMenu ul li a:hover,
.header-navbar .discoverMenu ul li a:hover ~ i,
.header-navbar .discoverMenu ul li.current > a {
  color: #49b78a;
}
.header-navbar .discoverMenu li ul:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #f4f4f4;
  position: absolute;
  top: -15px;
  left: 30px;
}
.header-navbar .discoverMenu li.seeds ul:after {
  background-position: 0 0;
}
.header-navbar .discoverMenu li.microgreens ul:after {
  background-position: -30px 0;
}
.header-navbar .discoverMenu li.discover ul:after {
  background-position: -60px 0;
}
.header-navbar .discoverMenu li.garden ul:after {
  background-position: -90px 0;
}
.header-navbar .discoverMenu li.gifts ul:after {
  background-position: -120px 0;
}
.header-navbar .discoverMenu li ul:after {
  content: "";
  width: 30px;
  height: 25px;
  position: absolute;
  left: 30px;
  top: 20px;
  background: url(//cdn.shopify.com/s/files/1/1380/2059/t/117/assets/grey-nested-icons.png?v=1138075…);
  background-repeat: no-repeat;
  background-size: cover;
}
.header-navbar .discoverMenu ul.child a {
  display: inline-block;
}
.header-navbar .discoverMenu li ul li a {
  padding: 0;
  display: block;
}

.header-navbar .search-cart {
  float: right;
  display: flex;
  align-items: center;
  gap: 2rem;
}
span.login-link.mob-only {
  display: none;
}
.header-navbar .login-link {
  float: left;
  margin: 4px 0 0 0px;
  padding: 4px;
  display: flex;
  gap: 1rem;
}
.header-navbar .search-cart .header-search {
  float: left;
}
.search-icon {
  display: inline-block;
}
.search-icon {
  font-size: 26px;
  color: #000;
  line-height: 50px;
  cursor: pointer;
  display: none;
}
.header-navbar .search-cart .header-cart a {
  position: relative;
}
.header-navbar .search-cart .header-cart a .count {
  position: absolute;
  right: -5px;
  top: -20px;
  z-index: 1;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 12px;
  color: #fff;
  border-radius: 50%;
  background: #2ea380;
  line-height: 20px;
  border: 0;
}
.header-navbar .header-search input.search {
  border: 4px solid #f2f2f2;
  border-radius: 30px;
  background: #fff;
  height: 54px;
  padding: 10px 60px 10px 20px;
  margin: 0;
  color: #7c7c7c;
  font-family: "Lato-Medium";
  font-size: 14px;
  width: 250px;
}
@media (max-width: 1370px) and (min-width: 1201px) {
  .header-top-navbar .discoverMenu {
    padding-left: 90px;
    padding-right: 245px;
  }
}
@media (max-width: 720px) {
  .header-navbar {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
@media (max-width: 1370px) {
  .header-navbar {
    padding: 25px 10px;
  }
  .header-navbar .logo {
    left: 25px;
  }
  .header-navbar .discoverMenu ul li {
    padding: 0 15px;
  }
  .header-navbar .search-cart {
    right: 25px;
  }
  .header-navbar .header-search input.search {
    width: 200px;
  }
}
/* ---------------------------------side bar menu---------------------------------- */
.header_menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  min-height: 100vh;
  background: #fbfbfb;
  z-index: 9;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  text-align: left;
  letter-spacing: 1px;
  padding-bottom: 12rem;
}
.header_menu_header {
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
  border-bottom: 1px solid #ededed;
}
.header_menu h3 {
  position: relative;
  opacity: 1;
  color: #333333;
  font-size: 15px;
  text-transform: uppercase;
  margin: 0;
  border-bottom: solid 1px #edeff1;
  padding: 16px 28px;
  font-weight: 700;
  line-height: 22px;
}
.header_menu .hideChild:before {
  content: "\f067";
  float: right;
  font-family: "FontAwesome";
  color: #333333;
}
.header_menu .showChild:before {
  content: "\f068";
  float: right;
  font-family: "FontAwesome";
  color: #333333;
}
.header_menu ul.child li a {
  padding: 10px 40px;
  border-bottom: 1px solid #edeff1;
  text-transform: capitalize;
  font-size: 14px;
  color: #282828;
  display: block;
  letter-spacing: 2px;
}
.header_menu ul li a {
  text-transform: capitalize;
  color: #282828;
  display: flex;
}
.header_menu .menu_footer {
  position: fixed;
  bottom: 0;
  height: fit-content;
  width: 97%;
  background-color: inherit;
}
.header_menu .menu_footer .div1 {
  display: flex;
  background-color: #f6fffc;
  align-items: center;
  justify-content: center;
  padding: 13px 20px;
  border-top: 1px solid #daf0e7;
  border-bottom: 1px solid #daf0e7;
}
.header_menu .menu_footer .div2 {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: inherit;
}
.header_menu .menu_footer .div2 .social_icon {
  display: flex;
  gap: 1rem;
}
.header_menu .menu_footer .div1 .sub-ban-title {
  font-size: 1.3rem;
  color: #444444;
  line-height: 21px;
  padding: 0;
  letter-spacing: 2px;
  margin-right: 17px;
  font-weight: 700;
  text-transform: uppercase;
}
.header_menu .menu_footer .div1 .sub-ban-btn {
  min-width: 120px;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: 0;
  line-height: 32px;
  padding: 0 10px;
  color: #fff;
  background: #205b4b;
  transition: 0.5s ease all;
  appearance: none;
  font-weight: 700;
  border-radius: 100px;
  border: 0;
}
