:root {
  --primary-color: #008060;
  --background-color: #fbf7ed;
  --main-color: #004c3f;
  --black: #000000;
  --white: #ffffff;
  --gray: #efefef;
  --gray-2: #757575;
}
hr {
  overflow: visible;
  box-sizing: content-box;
  height: 0;
  background-color: #fff;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: darkgrey;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
}
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}
.icons {
  font-size: clamp(2rem, 3.5vw, 3rem);
  cursor: pointer;
}
.profile-page {
  font-size: clamp(0.8rem, 3.5vw, 1.6rem);
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  padding: 0 2rem 2rem 2rem;
  text-align: left;
  color: var(--main-color);
  background-color: #fff;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.profile-page .display-2 {
  font-weight: 900;
  line-height: 1.5;
  font-size: clamp(2rem, 3.5vw, 3rem);
}
.profile-page .form-control {
  font-size: clamp(1rem, 3.5vw, 1.6rem);
  line-height: 1.5;
  display: block;
  width: 100%;
  height: calc(2.75rem + 2px);
  padding: 0.625rem 0.75rem;
  border: 0;
  border-radius: 0.375rem;
  background-color: #fff;
  background-clip: padding-box;
  box-shadow: none;
}

@media screen and (prefers-reduced-motion: reduce) {
  .form-control {
    transition: none;
  }
}

.profile-page .form-control::-ms-expand {
  border: 0;
  background-color: transparent;
}

.profile-page .form-control:focus {
  outline: 0;
  background-color: #fff;
  box-shadow: none, none;
}

.profile-page .form-control:-ms-input-placeholder {
  opacity: 1;
}

.profile-page .form-control::-ms-input-placeholder {
  opacity: 1;
}

.form-control::placeholder {
  opacity: 1;
}

.profile-page .form-control:disabled,
.profile-page .form-control[readonly] {
  opacity: 1;
  background-color: #fff;
}
.profile-page .form-control-label {
  font-weight: 600;
}
.profile-page .btn {
  font-size: clamp(1rem, 3.5vw, 1.6rem);
  font-weight: 600;
  line-height: 1.5;
  padding: 0.625rem 1.25rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  border: 0;
  border-radius: 0.375rem;
  cursor: pointer;
}

.profile-page .btn:hover,
.profile-page .btn:focus {
  text-decoration: none;
}
.profile-page .btn-info {
  color: #fff;
  background-color: var(--main-color);
}
.profile-page .btn-info:hover {
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 76, 63, 1);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0, 76, 63, 1);
  box-shadow: 0px 0px 10px 1px rgba(0, 76, 63, 1);
}
.profile-page .say-hello {
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-page .say-hello button {
  margin-top: 2rem;
}
input:disabled {
  background-color: seashell;
}
.profile-page .user-data {
  position: relative;
  display: flex;
  gap: 2rem;
}
.profile-page .user-data .my-account {
  width: 60%;
}
.profile-page .user-data .my-orders {
  width: 40%;
}
.profile-page .user-data .my-account,
.profile-page .user-data .my-orders {
  background-color: var(--main-color);
  color: #fff !important;
  padding: 2rem;
  border-radius: 20px;
}
.profile-page .user-data .my-account {
  position: sticky;
  top: 0;
  height: min-content;
}
.profile-page .user-data .input-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: #fff !important;
  grid-column-gap: 2rem;
  margin: 0;
}
.profile-page .user-data .my-account h2,
.profile-page .user-data .my-orders h2 {
  border-bottom: 1px solid #fff;
}

.profile-page .input-group > div {
  padding: 1rem;
}
.profile-page .user-data .my-orders .order-detail {
  overflow-y: auto;
}
.profile-page .user-data .my-orders .order-detail .orders-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
  padding: 2rem 0;
}
.profile-page
  .user-data
  .my-orders
  .order-detail
  .orders-div
  .orders-data:nth-child(2) {
  text-align: right;
}
.profile-page .user-data .my-orders .order-detail .orders-div .orders-data p {
  margin: 1rem;
}
.profile-page
  .user-data
  .my-orders
  .order-detail
  .orders-div
  .orders-data:nth-child(2)
  p:first-child
  a {
  color: var(--main-color);
  background-color: #fff;
  padding: 0.1rem 0.5rem;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  -webkit-box-shadow: 0px 1px 1px 0px #fff;
  -moz-box-shadow: 0px 1px 1px 0px #fff;
  box-shadow: 0px 1px 1px 0px #fff;
}
.profile-page .edit-profile {
  height: 100%;
  width: 100%;
  background-color: #fff;
  overflow: auto;
  padding: 2rem;
}
.profile-page .edit-profile .my-account {
  background-color: var(--main-color);
  color: #fff !important;
  padding: 2rem;
  border-radius: 20px;
  max-width: 900px;
  margin: auto;
}
.profile-page .edit-profile .input-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: #fff !important;
  grid-column-gap: 2rem;
}
.profile-page .edit-profile .my-account .btn {
  background-color: #fff;
  color: var(--main-color);
}
.profile-page .user-data .header .btn:hover,
.profile-page .edit-profile .my-account .btn:hover {
  background-color: var(--primary-color);
  color: #fff;
}
.profile-page .edit-profile .my-account .header .btn {
  padding: 0.25rem 1.25rem;
  border: 1px solid #fff;
}
.profile-page .user-data .header .btn {
  color: var(--main-color);
  background-color: #fff;
}
.profile-page .user-data .my-account .header h4 {
  margin: 0;
}
.profile-page .user-data .my-account .header div {
  display: flex;
  gap: 1rem;
  flex-direction: row;
}
.profile-page .edit-profile .my-account .edit-header,
.profile-page .user-data .my-account .header,
.profile-page .edit-profile .my-account .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile-page .edit-profile .my-account .edit-header {
  padding-bottom: 1rem;
  border-bottom: 1px solid #fff;
}

.profile-page .input-group > div {
  padding: 1rem;
}
@media only screen and (max-width: 924px) {
  .profile-page .user-data {
    flex-direction: column;
  }
  .profile-page .user-data .my-account,
  .profile-page .user-data .my-orders {
    position: relative;
  }
  .profile-page .user-data .input-group,
  .profile-page .edit-profile .input-group {
    grid-template-columns: 1fr;
  }
  .profile-page {
    padding: 0 0.8rem 0.8rem;
  }
  .profile-page .say-hello {
    height: min-content;
    margin: 5rem 0;
  }
  .profile-page .edit-profile,
  .profile-page .edit-profile .my-account,
  .profile-page .user-data .my-account,
  .profile-page .user-data .my-orders {
    padding: 1.2rem;
    width: 100%;
  }
  .profile-page .user-data .my-orders .order-detail .orders-div .orders-data p {
    margin: 0.8rem 0.2rem;
  }
  .profile-page .input-group > div {
    padding: 0.2rem;
  }
  .profile-page .form-control {
    height: 2.2rem;
  }
}
